<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Auth.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>WebHealthCare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Auth.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>Auth.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>Auth.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessDiagnosticFormServlet</display-name>
    <servlet-name>ProcessDiagnosticFormServlet</servlet-name>
    <servlet-class>Form.ProcessDiagnosticFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessDiagnosticFormServlet</servlet-name>
    <url-pattern>/ProcessDiagnosticFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessSuiviFormServlet</display-name>
    <servlet-name>ProcessSuiviFormServlet</servlet-name>
    <servlet-class>Suivi.ProcessSuiviFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessSuiviFormServlet</servlet-name>
    <url-pattern>/ProcessSuiviFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemplirFormulaireServlet</display-name>
    <servlet-name>RemplirFormulaireServlet</servlet-name>
    <servlet-class>Form.RemplirFormulaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemplirFormulaireServlet</servlet-name>
    <url-pattern>/RemplirFormulaireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishBlogServlet</display-name>
    <servlet-name>PublishBlogServlet</servlet-name>
    <servlet-class>Blog.PublishBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishBlogServlet</servlet-name>
    <url-pattern>/PublishBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBlogsServlet</display-name>
    <servlet-name>ViewBlogsServlet</servlet-name>
    <servlet-class>Blog.ViewBlogsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBlogsServlet</servlet-name>
    <url-pattern>/ViewBlogsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBlogsServlet</display-name>
    <servlet-name>UserBlogsServlet</servlet-name>
    <servlet-class>Blog.UserBlogsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBlogsServlet</servlet-name>
    <url-pattern>/UserBlogsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBlogServlet</display-name>
    <servlet-name>DeleteBlogServlet</servlet-name>
    <servlet-class>Blog.DeleteBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBlogServlet</servlet-name>
    <url-pattern>/DeleteBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBlogServlet</display-name>
    <servlet-name>UpdateBlogServlet</servlet-name>
    <servlet-class>Blog.UpdateBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBlogServlet</servlet-name>
    <url-pattern>/UpdateBlogServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateeBlogServlet</display-name>
    <servlet-name>UpdateeBlogServlet</servlet-name>
    <servlet-class>Blog.UpdateeBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateeBlogServlet</servlet-name>
    <url-pattern>/UpdateeBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentServlet</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>Comment.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/AddCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCommentServlet</display-name>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>Comment.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <url-pattern>/DeleteCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCommentServlet</display-name>
    <servlet-name>EditCommentServlet</servlet-name>
    <servlet-class>Comment.EditCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCommentServlet</servlet-name>
    <url-pattern>/EditCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllCommentsByBlogServlet</display-name>
    <servlet-name>GetAllCommentsByBlogServlet</servlet-name>
    <servlet-class>Comment.GetAllCommentsByBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCommentsByBlogServlet</servlet-name>
    <url-pattern>/GetAllCommentsByBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>User.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserServlet</display-name>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>User.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/ModifyUserServlet</url-pattern>
  </servlet-mapping>
</web-app>